body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
}

label {
    display: block;
    margin: 10px 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#passwordDisplay {
    margin-top: 20px;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}
